@import url("./fonts.css");

:root {
    --accent: #0170B8;
    --accent-bg: #E2EAEF;
    --accent-bg-dark: #d2e8f6;
    --gray: #F7F7F7;
    --red: #D28686;
    --green: #01B88C;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    margin: 16px;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: flex-end;
    grid-gap: 10px;

    width: 100%;
}

#auth {
    position: absolute;
    top: 12px;
    right: 24px;

    font-size: 14px;
    font-weight: 500;
    color: var(--accent)
}

header .logotype {
    padding: 10px 12px;
}

header nav {
    width: 100%;
}

header nav ul {
    display: flex;
    align-items: flex-end;
    grid-gap: 1px;

    list-style: none;
    padding: 0;
    margin: 0;
}

header nav li {
    width: 100%;
    padding: 9px 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--accent);
    border-radius: 8px 8px 0px 0px;
    background-color: var(--gray);

    transition: background-color 0.3s;

    cursor: pointer;
}

header nav li.selected {
    background-color: var(--accent-bg);
}

main {
    border-radius: 8px 0px 8px 8px;
    border: 2px solid var(--accent-bg);

    overflow: hidden;
}

main .table {
    display: flex;
    flex-direction: column;
}

main .table .row {
    width: 100%;

    display: flex;
}

main .table .row .cell {
    width: 100%;
    padding: 9px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--accent-bg);
    cursor: pointer;
}

main .table .row .cell.primary {
    max-width: 120px;

    color: #FFF;
    background-color: var(--accent);
}

main .table .row .cell.busy {
    color: var(--accent);
    background-color: var(--accent-bg);
}

/* MODAL CONTAINER VIEW */

#modal_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

#modal_container > .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0,0,0,0.3);

    z-index: 2;
}

#modal_container > .content {
    padding: 32px 50px;
    max-width: 450px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 8px;
    background-color: #fff;

    z-index: 10;
}

#modal_container .content h2 {
    font-size: 24px;
    font-weight: 500;

    margin-bottom: 16px;

    text-align: center;
}

#modal_container .content label {
    font-size: 16px;
    font-weight: 400;

    margin: 10px 0;
}

#modal_container .content p {
    font-size: 16px;
    font-weight: 400;
    color: var(--accent);

    margin-bottom: 8px;
}

/* FORM ELEMENTS */

/* BUTTON */
button {
    font-size: 16px;
    padding: 8px 16px;

    border: 0;
    color: #FFF;
    border-radius: 4px;

    margin-bottom: 8px;

    cursor: pointer;
}

button.blue {
    background-color: var(--accent);
}

button.green {
    background-color: var(--green);
}

button.red {
    background-color: var(--red);
}

/* INPUT */
input {
    padding: 8px 16px;

    outline: 0;
    border-radius: 4px;
    color: var(--accent);
    border: 1px solid var(--accent);

    margin-bottom: 8px;
}

input::placeholder {
    font-size: 16px;
    color: #C4C4C4;
}

input.empty {
    border: 1px solid #C4C4C4;
}

/* LOGIN VIEW */

.login_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #F6F6F6;
}

.login_container form {
    width: 100%;
    padding: 32px;
    max-width: 440px;

    display: flex;
    flex-direction: column;
    grid-gap: 5px;

    border-radius: 8px;
    background-color: #fff;
}

.login_container form h2 {
    font-size: 24px;
    font-weight: 500; 
    text-align: center;

    margin-bottom: 19px;
}